//
// UI colors
//
$background-lighter: #d4c7b0;
$background-light: #8D826F;

//
// Fonts
//
$font: Poppins;
$title-font: ShortStack-Regular;

icon, iconpanel {
    font-family: MaterialIcons;
}

button {
    align-items: center;
}

text, label {
    font-size: 24px;
    font-family: $font;
    color: white;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
}
