//
// UI colors
//
$background-lighter: rgba(0,0,0,0.6);

$window-radius: 12px;
$window-radius-more: 10px;

//
// Fonts
//
$font: Poppins;
$title-font: ShortStack-Regular;

.title {
    color: #FFF;
    text-shadow: 3px 3px 1px $background-lighter;
    font-weight: bold;
    font-size: 26px;
}

.subtitle {
    font-size: 18px;
}

icon, iconpanel {
    font-family: MaterialIcons;
}

button {
    align-items: center;
}

text, label {
    font-size: 24px;
    font-family: $font;
    color: white;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
}
