@import "/Systems/UI/_Globals.scss";

InteractionButtonsPanel {
    position: absolute;
    width: 430px;
    height: 430px;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    pointer-events: auto;
}

text {
    font-size: 24px;
    font-family: $font;
    color: white;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
}
