@import "/Systems/UI/_Globals.scss";

StateInfoPanel {
    padding: 5px;
    flex-direction: column;
}

text {
    font-size: 24px;
    font-family: $font;
    color: white;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
}
