@import "/Systems/UI/_Common.scss";

ColorSelectionPanel {
    background-color: $background-lighter;
    padding: 10px 14px;
    flex-direction: column;
    color: black;
    border-radius: $window-radius;
    background: linear-gradient(to left, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%);
    border: 3px solid rgba(0,0,0,0.5);

    .colors {
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}
