@import "/Systems/UI/_Common.scss";

ColorSelectionPanel {
    background-color: $background-lighter;
    border-bottom: 8px solid $background-light;
    border-right: 3px solid $background-light;
    padding: 10px 14px;
    flex-direction: column;
    color: black;
    border-radius: 20px;

    .title {
        color: #FFF;
        text-shadow: 3px 3px 1px $background-light;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
    }

    .colors {
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}
