@import "/Systems/UI/_Common.scss";

MenuPlayerListPanel {
    background-color: rgba(212,199,176, 0.5);
    border-bottom: 8px solid $background-light;
    border-right: 3px solid $background-light;
    width: 100%;
    padding: 10px 10px 5px 10px;
    flex-direction: column;
    color: black;
    border-radius: 20px;
    height: 70%;
}
