@import "/Systems/UI/_Common.scss";

PlayerPanel {
    width: 100%;
    background-color: $background-lighter;
    border-radius: $window-radius-more;
    background: linear-gradient(to left, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0) 100%);
    border: 1px solid rgba(black, 0.5);
    padding: 6px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .playerinfo {
        width: 80%;
        flex-direction: row;
        align-items: center;

        .name {
            padding-left: 10px;
        }
    }

    .color, .avatar {
        width: 15%;
        aspect-ratio: 1;
        border-radius: $window-radius-more;
        border: 3px solid rgba(0,0,0,0.6);
        background-image: url("/materials/ui/disabled.png");
        background-size: cover;
    }

    .avatar {
        width: 18%;
    }
}
