@import "/Systems/UI/_Common.scss";

MenuRightPanel {
    position: absolute;
    right: 0px;
    width: 21%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
        background-image: url("/materials/ui/apetavern_dark.png");
        width: 80%;
        height: 18%;
        margin-bottom: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: flex-end;
        opacity: 0.9;

        label {
            color: black;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        }

        .website {
            font-size: 21px;
        }
    }
}
